{{ 'bitbucket.pullRequest'|trans|replace({
    '{actor_name}': actor['display_name'],
    '{repository_name}': repo['name'],
    '{branch_from}': pullRequest['source']['branch']['name'],
    '{branch_target}': pullRequest['destination']['branch']['name']
})|raw }}

{{ pullRequest['description'] }}

<a href="{{ repo['links']['html']['href'] }}">{{ 'bitbucket.button'|trans }}</a>
