{{ 'bitbucket.push'|trans|replace({
    '{actor_name}': actor['display_name'],
    '{repository_name}': repo['name'],
    '{branch_name}': push['changes'][0]['new']['name']
})|raw }}

<a href="{{ repo['links']['html']['href'] }}">{{ 'bitbucket.button'|trans }}</a>
